.planet {
    position: absolute;
    display: flex;
    top: 19vh;
    justify-content: center;
    align-content: center;
    @media (max-width: 767px) {
        display:none;
    }

    img {
        border-radius: 100%;
        position: fixed;
        height: 60%;
    }
}