.planet {
    position: absolute;
    left: calc(50% - 195px);
    top: calc(28%);

    img {
        border-radius: 100%;
        max-width:100%;
        max-height:100%;
        position: fixed;
    }
}