
@import '../../common/styles/mixins.scss';
@import '../../common/styles/variables.scss';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url("../../common/assets/images/backgroundHeader.png");
    background-position: top;
    background-repeat: no-repeat;
    border: 1px solid $borderColor;
  }
  .headerContainer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 10px;
    .headerBody {
      position: relative;
      @include flex (row, space-between, center, nowrap);
      height: 100px;
      @media (max-width: 767px) {
        height: 70px;
      }
    }
    .logo {
      border: 15px solid $borderColor;
      border-image: url(../../common//assets/images/logoCorners.png) 10 round;
      padding: 20px;
      z-index: 3;
      position: relative;
      @media (max-width: 767px) {
        padding: 0.5px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
