
body {
  // height: 100vh;
  background:url('./common//assets/images/background.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  background-attachment: fixed
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
